// styles

.main-wrap
  position fixed
  left 0
  top 0
  width 100%
  height 100%
.main-content
  max-width 800px
  margin 0 auto
  position relative
.steps-content
  position absolute
  left 0
  top 40px
  bottom 40px
  width 100%
  overflow-y scroll
.steps-footer
  position absolute
  left 0
  height 40px
  line-height 40px
  bottom 0
  width 100%
  border-top 1px solid #ddd
.main-body
  max-width 800px
  margin 0 auto
  padding 0 10px
.item
  padding 5px 10px
  margin-bottom 3px
  &.selected
    background #08c
    color #eee
  &:hover
    background #333
    color #eee
    cursor pointer
.avatar
  width 16px
  height 16px
  display inline-block
  vertical-align middle

